.jumbotron{
    background-image: url('../img/neonbrand-386945-unsplash.jpg');
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    color: #fff;
}

footer {
    background-color: #999;
}

h1, h2, h3, h4 {
    padding: 20px 0px 10px 0px;
}